* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(198, 198, 198);
}

section {
  width: 100%;
  height: auto;
  display: flex;
  margin: 50px auto;
  align-items: center;
  justify-content: center;
}

#lamper1,
#lamper2 {
  width: 100px;
  height: 180px;
}

/*Lightbulb 1 section*/
.ligtbulb-1 a {
  justify-content: baseline;
  padding: 3px 10px;
  border: 1px solid black;
  background-color: rgb(227, 227, 227);
  color: black;
  text-decoration: none;
  align-self: end;
  border-radius: 2px;
  font-size: 1.1rem;
}

.ligtbulb-1 a:hover {
  background-color: rgb(208, 208, 208);
}

/*lightbulb 2 section*/
.lightbulb-2 {
  flex-direction: column;
  gap: 15px;
}

.lightbulb-2 img:nth-child(2),
.lightbulb-2 img:nth-child(3) {
  width: 50px;
  height: 50px;
  justify-content: center;
}

.lightbulb-2 img:nth-child(3) {
  display: none;
}

/*Faq section*/
.headline {
  width: 40%;
  height: 50px;
  background-color: rgb(18, 85, 162);
  text-align: center;
  font-size: 1.7rem;
  align-self: center;
  color: white;
  font-weight: bold;
  align-content: center;
  text-decoration: underline;
}

.faq {
  width: 100%;
  height: auto;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

.faq div {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  width: 40%;
  height: 50px;
  background-color: rgb(12, 92, 184);
  color: white;
  align-items: center;
  font-weight: 600;
  font-size: 1.5rem;
}

.faq article {
  width: 40%;
  height: auto;
  text-align: center;
  background-color: rgb(7, 113, 233);
}

.faq article p {
  padding: 20px;
  color: white;
  font-size: 1.4rem;
}

.faq h4 {
  text-align: start;
  align-self: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}

.faq i {
  font-size: 1.7rem;
}

.faq i:nth-child(2) {
  display: none;
}

#faqHide_1,
#faqHide_2,
#faqHide_3 {
  display: none;
}

/*Mobile navbar*/
.mobile-nav {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

#nav {
  width: 40%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  background-color: rgb(13, 140, 13);
  font-size: 1.7rem;
}

#nav-links {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: rgb(31, 31, 31);
  font-size: 1.6rem;
  display: none;
}

.underline-hover::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  background-color: rgb(13, 140, 13);
  display: block;
  margin-top: 5px;
  transition: all 500ms ease-in-out;
}

.underline-hover:hover::after {
  width: 3.1%;
  height: 3px;
  background-color: rgb(13, 140, 13);
}

.underline-2:hover::after {
  width: 4.5%;
  height: 2px;
}

#nav-links a:hover {
  color: rgb(225, 225, 225);
}

#nav-links ul {
  list-style-type: none;
  text-decoration: none;
}

#nav-links ul li:not(:last-child) {
  margin-bottom: 15px;
}

.mobile-nav article {
  width: 40%;
  padding: 20px;
  background-color: rgb(53, 53, 53);
  color: white;
  font-size: 1.5rem;
}

.mobile-nav a {
  text-decoration: none;
  color: white;
}

#burgerNav_off,
#burgerNav_on {
  background-color: black;
  color: white;
  width: 50px;
  height: 50px;
  align-content: center;
  justify-items: center;
  padding: 17px;
}

#burgerNav_on {
  display: none;
  background-color: rgb(233, 233, 233);
  color: black;
}
